# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv('./Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
orders.set_index('CustomerID', inplace=True)

In [4]:
# Sub Problem 1: How to aggregate the amount_spent for unique customers?
orders['agg_amount_spent'] = orders.groupby('CustomerID').agg({'amount_spent': np.sum})
orders.head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,Country,amount_spent,agg_amount_spent
CustomerID,,,,,,,,,,,,,,
17850,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,United Kingdom,15.30,5391.21
17850,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,United Kingdom,20.34,5391.21
17850,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,United Kingdom,22.00,5391.21
17850,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,United Kingdom,20.34,5391.21
17850,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,United Kingdom,20.34,5391.21
17850,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,United Kingdom,15.30,5391.21
17850,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,United Kingdom,25.50,5391.21
17850,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,United Kingdom,11.10,5391.21
17850,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,United Kingdom,11.10,5391.21
13047,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,United Kingdom,54.08,3237.54

In [5]:
# Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
stats = orders.describe().transpose()
drop_rows = ['Unnamed: 0', 'InvoiceNo', 'year', 'month', 'day', 'hour', 'Quantity', 'UnitPrice', 'amount_spent']
stats.drop(drop_rows, axis=0, inplace=True)
stats

,count,mean,std,min,25%,50%,75%,max
agg_amount_spent,397924.0,11520.876426,31297.484455,0.0,1101.97,2656.13,6287.77,280206.02

In [6]:
percentile_95 = float(stats['max'] * 0.95)
percentile_75 = float(stats['75%'])

In [53]:
# Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

def add_label(x):
    if x >= percentile_95:
        return 'VIP'
    elif (x >= percentile_75) and (x < percentile_95):
        return 'Preferred'
    else:
        return 'Normal'

orders['label'] = orders['agg_amount_spent'].apply(add_label)

In [54]:
orders.sort_values(by='agg_amount_spent', ascending=False).head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,Country,amount_spent,agg_amount_spent,label
CustomerID,,,,,,,,,,,,,,,
14646,434742,574059,22725,2011,11,3,14,alarm clock bakelike chocolate,1,2011-11-02 14:13:00,3.75,Netherlands,3.75,280206.02,VIP
14646,434703,574056,22384,2011,11,3,14,lunch bag pink polkadot,100,2011-11-02 14:09:00,1.45,Netherlands,145.00,280206.02,VIP
14646,434723,574059,20979,2011,11,3,14,36 pencils tube red retrospot,1,2011-11-02 14:13:00,1.25,Netherlands,1.25,280206.02,VIP
14646,434722,574059,23507,2011,11,3,14,mini playing cards buffalo bill,1,2011-11-02 14:13:00,0.42,Netherlands,0.42,280206.02,VIP
14646,434721,574059,23510,2011,11,3,14,mini playing cards gymkhana,1,2011-11-02 14:13:00,0.42,Netherlands,0.42,280206.02,VIP

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [55]:
# Q2: How to identify which country has the most VIP Customers?
orders[['Country', 'label']].groupby(['Country'])['label'].value_counts()

Country               label
Australia             Preferred       898
                      Normal          287
Austria               Normal          398
Bahrain               Normal           17
Belgium               Normal         1977
                      Preferred        54
Brazil                Normal           32
Canada                Normal          151
Channel Islands       Normal          384
                      Preferred       364
Cyprus                Normal          366
                      Preferred       248
Czech Republic        Normal           25
Denmark               Normal          344
                      Preferred        36
EIRE                  Preferred      7077
                      Normal          161
European Community    Normal           60
Finland               Normal          391
                      Preferred       294
France                Normal         5442
                      Preferred      2900
Germany               Normal         5915
                      Preferred      3127
Greece                Normal          145
Iceland               Normal          182
Israel                Normal          248
Italy                 Normal          758
Japan                 Preferred       205
                      Normal          116
Lebanon               Normal           45
Lithuania             Normal           35
Malta                 Normal          112
Netherlands           VIP            2080
                      Normal          283
Norway                Normal          652
                      Preferred       420
Poland                Normal          330
Portugal              Normal          781
                      Preferred       681
RSA                   Normal           58
Saudi Arabia          Normal            9
Singapore             Preferred       222
Spain                 Normal         1974
                      Preferred       511
Sweden                Normal          253
                      Preferred       198
Switzerland           Normal         1379
                      Preferred       463
USA                   Normal          179
United Arab Emirates  Normal           68
United Kingdom        Normal       274609
                      Preferred     79736
Unspecified           Normal          244
Name: label, dtype: int64

In [68]:
country_most_VIP = orders[orders['label'].apply(lambda x: 'VIP' in x)].groupby('Country').count().index[0]

print(f'The country that has the most VIP customers is {country_most_VIP}.')

The country that has the most VIP customers is Netherlands.

In [70]:
# Q3: How to identify which country has the most VIP+Preferred Customers combined?

country_most_VIP_preferred = orders[orders['label'].apply(lambda x: 'Normal' not in x)].groupby('Country').count().index[0]

print(f'The country that has the most VIP and Preferred customers is {country_most_VIP}.')

The country that has the most VIP and Preferred customers is Netherlands.